*{
    margin: 0%;
}

@media(max-width:98rem){
    main{
        height: 45rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 2fr 1fr;
    }
    section{
        border: 3px solid teal;
        background-color: teal;
        border-radius: 2rem;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;

        animation: zoomIn;
        animation-duration: 2s; 
    }

    .flex-container{
        padding: 3rem;
        display: flex;
        justify-content: center;
    }

    .container{
        background-color: teal;
    }

    .container button{
        border: none;
        border-radius: 0.5rem;
        width: 5rem;
        height: 3rem;
        color: white;
        font-weight: bolder;
        font-size: 1.5rem;
        background-color: rgba(0, 0, 0, 0.568);
    }
    
    .container button:hover{
        background-color: white;
        color: cadetblue;
    }

    .container input[type=text]{
        border-radius: 4rem;
        width: 96%;
        height: 3rem;
    }
}

@media(max-width:68rem){
    main{
        height: 45rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 2fr 1fr;
    }
    section{
        border: 3px solid teal;
        background-color: teal;
        border-radius: 2rem;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;

        animation: zoomIn;
        animation-duration: 2s; 
    }

    .flex-container{
        padding: 2rem;
        display: flex;
        justify-content: center;
    }

    .container{
        background-color: teal;
    }

    .container button{
        border: none;
        border-radius: 0.5rem;
        width: 3rem;
        height: 2rem;
        color: white;
        font-weight: bolder;
        font-size: 1rem;
        background-color: rgba(0, 0, 0, 0.568);
    }
    
    .container button:hover{
        background-color: white;
        color: cadetblue;
    }

    .container input[type=text]{
        border-radius: 2rem;
        width: 85%;
        height: 2rem;
    }
}

@media(max-width:45rem){
    main{
        height: 45rem;
        display: grid;
        grid-template-columns: 0.9fr 2.2fr 0.9fr;
        grid-template-rows: 1fr 2fr 1fr;
    }
    section{
        border: 2px solid teal;
        background-color: teal;
        border-radius: 2rem;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;

        animation: zoomIn;
        animation-duration: 2s; 
    }
    
    .flex-container{
        padding: 1rem;
        margin-left: 1.4rem;
        display: flex;
        justify-content: center;
    }

    .container{
        background-color: teal;
    }

    .container button{
        border: none;
        border-radius: 0.5rem;
        width: 2.75rem;
        height: 2.5rem;
        color: white;
        font-weight: bolder;
        font-size: 1rem;
        background-color: rgba(0, 0, 0, 0.568);
    }
    
    .container button:hover{
        background-color: white;
        color: cadetblue;
    }

    .container input[type=text]{
        border-radius: 2rem;
        width: 78%;
        height: 2.5rem;
    }
}

@media(max-width:40rem){
    main{
        height: 45rem;
        display: grid;
        grid-template-columns: 0.8fr 2.4fr 0.8fr;
        grid-template-rows: 1fr 2fr 1fr;
    }
    section{
        border: 2px solid teal;
        background-color: teal;
        border-radius: 2rem;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;

        animation: zoomIn;
        animation-duration: 2s; 
    }
    
    .flex-container{
        padding: 0.5rem;
        margin-left: 1rem;
        display: flex;
        justify-content: center;
    }

    .container{
        background-color: teal;
    }

    .container button{
        border: none;
        border-radius: 0.5rem;
        width: 3rem;
        height: 2.5rem;
        color: white;
        font-weight: bolder;
        font-size: 1rem;
        background-color: rgba(0, 0, 0, 0.568);
    }
    
    .container button:hover{
        background-color: white;
        color: cadetblue;
    }

    .container input[type=text]{
        border-radius: 2rem;
        width: 78%;
        height: 2.5rem;
    }
}